.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 180px;
}

.ui.icon.input.youtube-query {
  width: 100%;
}

.youtube-query > .ui.label {
  background: white;
}

.youtube-query > .ui.label > .fab.fa-youtube{
  color: red;
}

.ui.relaxed.divided.list {
  height: 160vh;
  overflow-Y: scroll;
  overflow-X: hidden;
  height: 160vh;
}

.ui.relaxed.divided.list::-webkit-scrollbar {
    display: block;
    width: 5px;
}

.ui.relaxed.divided.list::-webkit-scrollbar-thumb {
  border-radius: 10%;
}
