.ui.diving.header {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid #D3D3D3;
  width: 100%;
}

.ui.comments {
  max-width: 100%;
  max-height: 50vh;
  overflow-Y: scroll;
  overflow-X: hidden;
}

.ui.comments::-webkit-scrollbar {
    display: block;
    width: 5px;
}

.ui.comments .comment {
  padding-bottom:2rem;
}


.thumbs.up.outline.icon {
  cursor:pointer;
  margin-left: .5rem;
}

.blue {
  color:rgb(6,95,212);
}
