.twitter > .ui.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.website-header {
  position: fixed;
  height:5%;
  width: 100%;
  background-color: white;
  border-bottom: gray solid;
  text-align: center;
}

.header-icon {
  color:#1da1f2;
}
