.tweet-page {
  display: inline-block;
}

.ui.card.highlight {
  float: left;
  height: 25%;
  width: 60%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: 10%;
}

.ui.card>.image {
  height: 10%;
}

.tweet-list {
  margin-top: 5%;
  z-index: -1;
  margin-right: 5%;
  float: right;
}

.fa-retweet {
  margin-right: 1%;
}

.tweet-list {
  height: 83vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tweet-list > .ui.card {
  justify-content: flex-end;
}
